.footerText {
    color: #383838;
    font-size: 1rem;
}

.footer {
    padding: 20px;
}
.footerIcon {
    color: var(--secondary-color);
}

.footerIcon:hover {
    transition: 0.25s all;
    color: var(--off-white);
    background-color: var(--secondary-color--light);
}