.tourPhoto {
    min-width: 100%;
    min-height: 250px;
    position: relative;
    max-width: 1000px;
    overflow: hidden;
    padding: 0 25px;
}

.tourPhotoImg {
    max-height: 400px;
    min-width: 100%;
}
.tourPhotoCitation {
    font-size: 1rem;
    margin: 0;
    padding-right: 10px;
    bottom: 3px;
    position: absolute;
    left: 25px;
    background-color: #ffffffcf;
}

.fade-in-photo {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

@media (max-width: 600px) {
    .tourPhoto {
        margin-left: 0;
        min-height: 100px;
        padding: 0;
    }
    .tourPhotoCitation {
        right: 0;
        left: auto;
    }
  }