.tourStop {
    padding: 0 20px 0;
}

.tourStopDetail {
    font-size: 1rem;
    margin: 0;
}

.tourStopHeading {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.nextCta {
    width: 250px;
    margin-top: 30px;
}

.tourStopProblemReport {
    border: 0;
    padding: 10px;
}

.problemReported {
    color: var(--primary-color);
}

@media (max-width: 650px) {
    .nextCta {
        width: 100%;
    }
    .tourStopProblemReport {
        padding: 7px;
        margin-top: 5px;
        width: 100%;
    }
}