.tour-checkin-button {
    margin: 20px 0;
}

.tour-checkin-animation-container {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .tour-checkin-container-content {
    overflow: scroll;
    padding: 20px;
  }

  .tourStopDescriptionHeader {
    color: var(--off-white);
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
}

.tourStopDescription {
    color: var(--off-white);
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.tourStopCitationContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 20px;
    width: 100%;
}

.tourStopCitationContainer a {
  color: black;
}

.tourStopCheckinBackContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

  .raven {
    width: 120px;
    z-index: 1;
    left: 0;
    right: 0;
    transform-origin: center center;
    animation: iconLanding 2s 1 forwards;
    background: #f8f1e4f7;
    border-radius: 100%;
    padding: 10px;
  }  
  
  @keyframes auroraMove {
        0% {
        transform: translate(-10%, -10%) rotate(0deg);
        }
        100% {
        transform: translate(10%, 10%) rotate(20deg);
        }
    }


  @keyframes iconLanding {
    0% {
        transform:  rotate(0deg);;
    }
    100% {
        transform: rotate(360deg);
      }
  }
  

@media (max-width: 650px) {
    .tour-checkin-button {
        width: 100%;
    }

    .tourStopCheckinBack {
      width: 100%;
    }
    
}