.tourChat {
    background: #FFFBF4;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    max-width: 700px;
    padding: 20px;
}

.tourChat h2 {
    margin-top: 0;
    margin-bottom: 5px;;
}

.tourChat p {
    margin-top: 5px;
}

.tourQuestion {
    display: flex;
}

.tourQuestionInput {
    margin: 0 10px 0 0;
}

.tourGuideButton {
    background: var(--secondary-color);
    border: 0;
    color: white;
    font-family: var(--secondary-font);
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 2px 2px 0 #dfe6e9;
}

.tourGuideButton:hover {
    background: var(--secondary-color--light);
    box-shadow: 4px 4px 0 white;
}