.tourPhoto {
    min-width: 100%;
    min-height: 250px;
    background: #ffffff;
}

.tourPhotoImg {
    max-width: 100%;
}
.tourPhotoCitation {
    font-size: 1rem;
    margin: 0;
    padding-right: 10px;
    bottom: 0;
    position: absolute;
    right: 0;
}