.tour {
    padding: 0 40px;
}

.tourAsside {
    font-size: 1.25em;
    margin-top: 5px;
}

.tourStop p:last-child {
    margin-bottom: 0;
}

.tourStops {
    margin-bottom: 0;
}

.tourStops li:last-child {
    margin-bottom: 0;
}