.tour-checkin-button {
    margin: 20px 0;
}

.tour-checkin-animation-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  .tour-checkin-thankyou-title {
    font-family: var(--secondary-font);
    z-index: 2;
    color: white;
    text-align: center;
  }
  
  .aurora-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background:  var(--secondary-color--light);
    animation: auroraMove 6s infinite alternate ease-in-out;
    filter: blur(60px);
    opacity: 0.3;
    z-index: 0;
  }

  .raven {
    position: absolute;
    top: 20%;
    width: 120px;
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
    
    transform-origin: center center;
    animation: iconLanding 2s 1 forwards;

  }  
  
  @keyframes auroraMove {
        0% {
        transform: translate(-10%, -10%) rotate(0deg);
        }
        100% {
        transform: translate(10%, 10%) rotate(20deg);
        }
    }


  @keyframes iconLanding {
    0% {
        transform:  rotate(0deg);;
    }
    100% {
        transform: rotate(360deg);
      }
  }
  

@media (max-width: 650px) {
    .tour-checkin-button {
        width: 100%;
    }
    
}