.tourInput {
    padding: 20px 30px;
    max-width: 750px;
}

.tourInputSection {
    margin-bottom: 40px;
}

p, label {
    font-size: 1rem;
}

.primaryQuestion {
    font-weight: bold;
}

.FunctionalApp {
    background-color: #f8f1e4;
}