.functionalAppHeader {
    color: var(--primary-color);
    margin-bottom: 0;
    padding-left: 25px;
}

.tourInput {
    padding: 20px 30px;
    max-width: 750px;
}

.tourInputSection {
    margin-bottom: 40px;
}

p, label {
    font-size: 1.5rem;
}

.primaryQuestion {
    font-weight: bold;
}

.FunctionalApp {
    background-color: #f8f1e4;
}

@media (max-width: 600px) {
    .functionalAppSubmission {
        width: 100%;
    }
}