.durationInput {
    width: 45%; 
}

.howMuchTimeDoYouHaveInputs:last-child() {
    margin-right: 0;
}

.howMuchTimeDoYouHaveInputs .durationInput {
    margin-right: 20px;
}

.howMuchTimeDoYouHaveQuestion {
    margin-bottom: 0;
}

.howMuchTimeDoYouHaveInputs {
    justify-content: space-between;
    display: flex;
    max-width: 500px;
}

.secondaryLabel {
    font-size: 1rem;
}