.whereAreYou {
    position: relative;
}
.whereAreYouIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0;
    padding-left: 0;
}

.whereAreYouLabel {
    display: block;
    margin-bottom: 10px;
}

.whereAreYouInput {
    padding-left: 30px;
    margin: 0;
    border: 0;
}

.onlyJuneau {
    margin: 5px 0 0;
    line-height: 1.3rem;
}
