
/* src/App.css */
:root {
  --primary-color: #dc8c2e;
  --primary-color-light: #ea993c;
  --secondary-color: #2E7EDC;
  --secondary-color--light: #4690E6;
  --secondary-font: 'Rust';
}

.App {
  font-family: 'Quicksand';
  text-align: left;
  background-color: #FFFBF4;
  max-width: 5000px;
}

p, li {
  font-size: 1.3rem;
  line-height: 2rem;
}

li svg {
  padding-right: 10px;
}

a {
  color: var(--primary-color);
}

li {
  margin-bottom: 20px;
  list-style: none;
}

section {
  display: inline-block;
  padding: 40px 20px;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

section:nth-child(even) {
  background-color: #f8f1e4;
}

.button {
  border: 0px;
  background-color: var(--primary-color-light);
  color: white;
  padding: 15px 10px;
  border-radius: 6px;
  transition: 0.25s all;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

}

.button:hover {
  background-color: var(--primary-color);
}

ul {
  padding-left: 0;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid black;
  margin: 10px 0;
  font-size: 1.3rem;
  line-height: 2rem;
}